@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row {
        padding-left: 50px;
        padding-right: 30px;
    }
</style>
@*style="background-color:cadetblue"*@
@*<div class="jumbotron" >*@

<div class="row"  style= "background-color:darkgrey; font-family:Calibri; font:bold,18px,Calibri">
    <h2>
        <img src="~/Images/Assets.jfif" style="width:100px; height:100px;" />
        S7 1500 IT Asset Mangement
    </h2>


</div>

<div class="panel">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4" style="font-family:Calibri; border:thin;">
                <h2> Asset Details Support</h2>
                <h4>
                    <br />
                    <br />
                    <ul>
                        <li>
                            Check Assets Details
                            <a href="https://intranet.sts-pwaapps.siemens.com/IntegratedIT" target="_blank" class="btn btn-default">  Assets Details &raquo;</a>
                        </li>
                        <br />
                        <br />
                        <li>
                            Check Dell Warranty
                            <a href="https://www.dell.com/support/home/in/en/inbsd1/products/?app=warranty " target="_blank" class="btn btn-default"> Dell Warranty Check &raquo;</a>
                        </li>
                        <br />
                        <br />
                        <li>
                            Check HP Warranty
                            <a href="https://support.hp.com/us-en/checkwarranty" target="_blank" class="btn btn-default"> HP Warranty Check &raquo;</a>
                            <br />
                        </li>
                    </ul>
                </h4>




            </div>
            <div class="col-md-4" style="font-family:Calibri;">
                <h2>Add Asset Details</h2>
                <p>Add asset details with correct details</p>
                <p><a class="btn btn-default" href="http://inblr08429wspr.ad001.siemens.net/AssetManagement/Home/ManageAssets">Add Details &raquo;</a></p>
            </div>

        </div>
    </div>
</div>